.estrela {
    color: rgb(255, 238, 0);
}

.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 10px 10px 0 0;
}

a {
    text-decoration: none;
}

.card {
    width: 18rem;
    border-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transition: all 0.5s !important;
}

.card:hover {
    transform: scale(1.05) !important;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card-body {
    padding: 20px;
}

p.notaCardHome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: .5rem;
}

p.precoProduto {
    font-weight: 600;
    font-size: 1.2rem;
}

span.mediaNota {
    display: flex;
    align-items: center;
}