:root {
    --verde: #00FF00;
    --btn-azul: #4939FF;
    --dark-gray: #1f1f1f;
    --gray: #808080;
    --light-gray: #f7f7f7;
    --pastel-red: #ff6961;
    --box-shadow: 1px 1px 10px 20px rgba(0, 0, 0, .2);
}

.btnAvaliar {
    background-color: var(--pastel-red);
    width: 150px;
    border-radius: 50px;
    height: 30px;
    color: white;
}

.btnAdicionarCarrinho {
    padding: 5px 15px;
    background-color: var(--btn-azul);
    border-radius: 50px;
    color: white;
    transition: all .2s;
}

.btnAdicionarCarrinho:hover {
    color: var(--btn-azul);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnTrash,
.btnEdit {
    border: none;
    background: none;
    font-size: 20px;
}

.btnExcluirEndereco {
    border: none;
    background-color: var(--pastel-red);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

.btnExcluirEndereco:hover {
    color: var(--pastel-red);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnCadastrar {
    border: none;
    background-color: var(--verde);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

.btnCadastrar:hover {
    color: var(--verde);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnBack {
    border: none;
    background-color: var(--dark-gray);
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    transition: all .2s;
}

.btnBack:hover {
    color: var(--dark-gray);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnClear {
    border: none;
    background-color: var(--pastel-red);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 0;
    color: white;
    transition: all .2s;
}

.btnClear:hover {
    color: var(--pastel-red);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnAdd {
    padding: 5px 15px;
    background-color: var(--btn-azul);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
}

.btnAdd:hover {
    box-shadow: var(--box-shadow);
    color: var(--btn-azul);
    background-color: white;
}

.dropdown_collapseElement {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--light-gray);
}

.dropdown_collapseElement em {
    font-size: 30px;
    padding: 0;
    width: 30px;
}

.btnDropdown {
    padding: 5px 15px;
    background-color: var(--btn-azul);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
    margin: 0 !important;
}

.btnDropdown:hover {
    box-shadow: var(--box-shadow);
    color: var(--btn-azul);
    background-color: white;
}

.btnPagamento,
.btnPagamentoDisabled {
    padding: 5px 0px;
    background-color: var(--pastel-red);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
    margin: 0 !important;
    width: 100%;
}

.btnPagamentoDisabled {
    background-color: var(--gray);
}

.btnRemover {
    padding: 5px 0px;
    background-color: var(--pastel-red);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
    margin: 0 !important;
    width: 100%;
}

.btnLogin {
    background-color: var(--pastel-red);
    color: white;
    height: 2rem;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.btnLink {
    background: none;
    color: var(--btn-azul);
}

.btnCancelarPedido {
    border: none;
    background-color: var(--pastel-red);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 0 1rem;
    color: white;
    transition: all .2s;
}

.btnCancelarPedido:hover {
    color: var(--pastel-red);
    background-color: white;
    box-shadow: var(--box-shadow);
}

@media (max-width: 900px) {
    .btnDropdown {
        height: 35px;
        width: 35px;
        padding: 0;
    }
}

.disabled {
    padding: 5px 15px;
    background-color: var(--gray);
    color: white;
    border: none;
    border-radius: 20px;
}