:root{
    --verde: rgb(0, 255, 13);
    --btn-azul: #4939FF;
    --dark-gray: rgb(46, 46, 46);
    --light-gray: rgb(247, 247, 247);
    --pastel-red: #ff6961;
    --box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.btnTrash, .btnEdit {
    border: none;
    background: none;
    font-size: 20px;
}

.btnCadastrar{
    border: none;
    background-color: var(--verde);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
    margin-top: 10px;
}

.btnCadastrar:hover{
    color: var(--verde);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnBack{
    border: none;
    background-color: var(--dark-gray);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

.btnBack:hover{
    color: var(--dark-gray);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnClear {
    border: none;
    background-color: var(--dark-gray);
    border-radius: 20px;
    height: 35px;
    width: 35px;
    padding: 0;
    color: white;
    transition: all .2s;
}

.btnClear:hover{
    color: var(--dark-gray);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.btnAdd {
    padding: 5px 15px;
    background-color: var(--btn-azul);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
}

.btnAdd:hover{
    box-shadow: var(--box-shadow);
    color: var(--btn-azul);
    background-color: white;
}

.dropdown {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    box-shadow: var(--box-shadow);
}

.dropdown em {
    font-size: 30px;
    padding: 0;
    width: 30px;
}

.btnDropdown{
    padding: 5px 15px;
    background-color: var(--btn-azul);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
    margin: 0 !important;
}

.btnDropdown:hover{
    box-shadow: var(--box-shadow);
    color: var(--btn-azul);
    background-color: white;
}

.btnPagamento {
    padding: 5px 0px;
    background-color: var(--pastel-red);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
    margin: 0 !important;
    width: 100%;
}

@media (max-width: 900px) {
    .btnDropdown {
        height: 35px;
        width: 35px;
        padding: 0;
    }
}