/**** Estilos cabeçalho ****/
.div-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    width: 100%;
    text-decoration: none;
}

.div-header a {
    color: rgb(24, 24, 24);
}

.div-header > a:last-child {
    font-size: 25px;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 150px;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.menu > a {
    text-decoration: none;
    position: relative;
}

.menu > a::after, .menu > a.active::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    background-color: rgb(255, 92, 92);
    bottom: -5px;
}

.menu > a:hover::after {
    width: 100%;
}

.logo {
    font-size: 20px;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.buttons > a {
    font-size: 25px;
    border: 0;
}
/**** Fim estilos cabeçalho ****/