.div-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #D9D9D9;
    width: 100%;
}

.logo {
    font-size: 20px;
}

ul {
    list-style: none;
}