div.divInput {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input.input, label.label {
    background: none;
    margin: 0;
    padding: 0 10px;
    border: none;
    width: inherit;
}

input.input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

label.label {
    margin-bottom: 5px;
}