.loader {
  animation: is-rotating .8s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}