/**** Estilos cabeçalho ****/

.div-header {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    font-size: 20px;
    padding: 15px;
}

.buttons {
    display: flex;
    margin-right: 30px;
    gap: 20px;
}

.carrinho,
.perfil {
    font-size: 25px;
    border: 0;
    background-color: #D9D9D9;
}

/**** Fim estilos cabeçalho ****/