.body-input-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 100px auto 0;
    padding: 0 auto;
    width: 65%;
}

.title{
    text-align: center;
    width: 80%;
}