.body-inventory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
}

.titleButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.title {
    font-size: 30px;
    width: 80%;
    text-align: center;
}

/** Estilos de formulário (modal) **/

.btnMais {
    font-size: 20px;
    border: none;
    background-color: white;
}

.btn-warning {
    margin-top: 20px;
}

.status-ok{
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #00ff22;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
   
}
.status-em-falta{
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}
.status-vencido{
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #ff0000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}
.status-vencendo{
    font-family: Verdana;
    font-size: 14px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #ff9900;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}