.body-inventory {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
    width: 65%;
}

.titleButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1.inventory-title {
    font-size: 25px;
    text-align: left;
    width: 50%;
}

div.filters {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
}

div.filters select {
    margin-top: auto;
}
