:root {
    --dark-gray: #1f1f1f;
    --gray: #5c5c5c;
    --light-gray: #e4e4e4;
    --light-bege: #f3e8db;
}

div.cart-item {
    padding: 20px 0;
}

div.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

div.info-cart-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 15px;
}

div.organize-cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.cart-info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

div.cart-info img {
    width: 80px;
    border-radius: 100%;
}

div.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

div.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

div.name-price h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

div.name-price span {
    min-width: 65px;
}

div.divSabores {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

span.sabores {
    font-size: 14px;
    color: var(--gray);
}

div.manipulation-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}