:root {
    --dark-gray: #1f1f1f;
    --gray: #5c5c5c;
    --light-gray: #e4e4e4;
    --light-bege: #f3e8db;
}

div.cart-item {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

div.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

div.infosCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.cartContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

div.cartContent img {
    width: 80px;
    border-radius: 100%;
}

div.textItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
}

div.textItem h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

div.divSabores {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

span.sabores {
    font-size: 14px;
    color: var(--gray);
}

div.quantityManipulation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #f1f1f1;
}

div.quantityManipulation button {
    background: none;
}