:root {
    --dark-gray: #1f1f1f;
    --gray: #5c5c5c;
    --light-gray: #e4e4e4;
    --light-bege: #f3e8db;
}

div.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
}

div.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

div.infosCart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

div.infosCart img {
    width: 80px;
    border-radius: 100%;
}

div.organizeCartItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}

div.nameFlavors {
    margin-left: 15px;
}

div.name-flavors h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

div.divSabores {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

span.sabores {
    font-size: 14px;
    color: var(--gray);
}

div.manipulationPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px;
}

div.quantityManipulation {
    background-color: var(--light-bege);
    border-radius: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}

div.quantityManipulation button {
    background: none;
    border: none;
    padding: 0;
}

.remove-button {
    cursor: pointer;
}