.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}

.form>div {
    width: 100%;
}

.dateInput {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dateInput div {
    width: 85%;
}

.dateInput input {
    width: 100%;
}

.hudBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}