div.divInput {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: column;
}

.input, .label {
    background: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    border: none;
}

.input {
    padding: 0 10px;
}

.input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.label{
    margin-bottom: 10px;
}