.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.component:not(:last-child) {
    border-bottom: 1px solid black;
}

.component em:not(:last-child) {
    font-style: normal;
    width: 120px;
    text-align: left;
    padding: 10px 0;
}

.component em:last-child {
    width: 65px;
}

.component em:first-child {
    width: 40%;
}