.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.component{
    border-bottom: 1px solid black;
}

.component em:last-child {
    width: 70px;
}

.component em {
    font-style: normal;
    width: 200px;
    text-align: left;
    padding: 10px 0;
}