.table {
    width: 80%;
    text-align: center;
    font-size: 14px;
}

.headerTable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.headerTable{
    margin-bottom: 10px;
}

.headerTable em {
    font-weight: 500;
}

.headerTable em:first-child {
    width: 40%;
}

.headerTable em:last-child {
    width: 65px;
    visibility: hidden;
}

em {
    font-style: normal;
    width: 120px;
    text-align: left;
    padding: 10px 0;
}