.divTabela{
    max-width: 60%;
}
.carrinho{
    background-color: white;
}
.cardVisualizar{
    display: flex;
    flex-direction: column;
}
.teste75{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.small{
    font-size: x-small;
}
.body{
    overflow-y: visible !important;
}
@media screen and (max-width: 600px) {
    th{
        font-size:x-small;
    }
    td{
        font-size:small;
    }
    .divTabela{
        max-width: 100%;
    }
    span{
        font-size: x-small;
    }
  }



