:root {
    --verde: #00FF00;
    --btn-azul: #4939FF;
    --dark-gray: #1f1f1f;
    --gray: #808080;
    --light-gray: #f7f7f7;
    --pastel-red: #ff6961;
    --box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.divTabela {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;   
}

.titleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

h1.pedidos-title {
    font-size: 25px;
    text-align: left;
    width: 50%;
}

.carrinho{
    background-color: white;
}
.cardVisualizar{
    display: flex;
    flex-direction: column;
}
.teste75{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.small{
    font-size: x-small;
}
.body{
    overflow-y: visible !important;
}

span.status-3 {
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 204, 204);
    padding: 3px 10px;
    border-radius: 5px;
}

span.status-2 {
    text-align: center;
    color: rgb(0, 255, 34);
    background-color: rgb(219, 252, 218);
    padding: 3px 10px;
    border-radius: 5px;
}

span.status-1 {
    text-align: center;
    color: rgb(162, 0, 255);
    background-color: rgb(240, 213, 255);
    padding: 3px 10px;
    border-radius: 5px;
}

span.status-0 {
    text-align: center;
    color: rgb(255, 217, 0);
    background-color: rgb(255, 252, 218);
    padding: 3px 10px;
    border-radius: 5px;
}

button.btn-mudarStatus {
    padding: 5px 15px;
    background-color: var(--btn-azul);
    color: white;
    border: none;
    border-radius: 20px;
    transition: all .2s;
}

button.btn-mudarStatus:hover {
    box-shadow: var(--box-shadow);
    color: var(--btn-azul);
    background-color: white;
}

@media screen and (max-width: 600px) {
    th{
        font-size:x-small;
    }
    td{
        font-size:small;
    }
    .divTabela{
        max-width: 100%;
    }
    span{
        font-size: x-small;
    }
}



