.body-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    margin: 0 !important;
    gap: 30px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 70px;
    min-height: 350px;
}

.summary-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: rgb(24, 24, 24);
    height: 500px;
}

.summary-order h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(231, 231, 231);
}

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.title-page h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.title-page span {
    margin-left: 10px;
}