:root {
    --light-gray: #f1f1f1;
    --white: #fff;
    --bege: #f3e8db;
}

.body-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    max-width: 80rem;
    width: 100%;
    padding: 100px 30px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 350px;
    width: 70%;
}

.cart-items {
    margin-top: 30px;
    width: 100%;
}

.summary-order {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 300px;
    background-color: var(--bege);
    border-radius: 5px;
    padding: 30px;
}

.summary-order h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-page h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.title-page span {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .body-cart {
        flex-direction: column;
        padding: 100px 0;
    }

    .cart-content {
        width: 100%;
    }

    .summary-order {
        max-width: 100%;
        width: 100%;
    }
}