:root {
    --dark-gray: #1f1f1f;
    --gray: #5c5c5c;
    --light-gray: #e4e4e4;
    --light-bege: #f3e8db;
    --pastel-red: #ff6961;
}

div.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    column-gap: 50px;
}

div.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

div.infosCart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
    width: 350px;
}

div.infosCart img {
    width: 80px;
    border-radius: 100%;
}

div.organizeCartItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 60px;
    width: 350px;
}

div.nameFlavors {
    display: inherit;
    flex-direction: column;
    row-gap: 5px;
}

h5.productTitle {
    font-size: 18px;
    font-weight: 600 !important;
    margin: 0;
    color: var(--pastel-red);
}

div.divSabores {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.divSabores .sabores {
    font-size: .9rem;
    color: var(--gray);
}

div.manipulationPrice {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: 16rem;
}

div.manipulationPrice span.quantity_no_editable {
    width: 7rem;
}

div.manipulationPrice span {
    font-size: .9rem;
}

div.quantityManipulation {
    background-color: var(--light-bege);
    border-radius: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}

div.quantityManipulation button {
    background: none;
    border: none;
    padding: 0;
}

.remove-button {
    cursor: pointer;
}