.divProgression {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.divElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

span.element, .divElements > svg {
    color: #CBCBCB;
    font-weight: 400;
}

span.element.checked {
    color: #5a5a5a;
}

svg.checked {
    color: #2bff00;
}

span.element.inProgress {
    color: #F36961;
}

img.logo-progression-bar {
    width: 4rem;
}