
input{
    width: 30% !important;
}
.divForm{
    display: flex !important;
}
.divInput{
    display: flex !important;
    justify-content: center;
}
.campos{
    display: flex;
    background-color: red;
    padding-bottom: 50px;
}
