.divForm {
    display: inline-block;
    height: 50px !important;
    width: 40% !important;
}

.formCadastro {
    background-color: #ff6961;
    padding: 20px 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.buttonsCadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px !important;
}

label {
    margin-top: 10px;
}

#nome, #email, #senhaCadastro {
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 30px;
}

.cadastrar {
    border: none;
    background-color: #9933CC;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

.voltar {
    border: none;
    background-color: #ff4444;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

@media screen and (max-width: 800px) {
    .buttonsCadastro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: .8rem;
    }
}