.divForm {
    display: flex;
    flex-direction: column;
    width: 40% !important;
}

.formCadastro {
    background-color: #ff6961;
    padding: 20px 30px;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

label {
    margin-top: 10px;
}


.cadastrar {
    border: none;
    background-color: #9933CC;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}

.voltar {
    border: none;
    background-color: #ff4444;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    transition: all .2s;
}